{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "minify",
      {
        "builtIns": false,
        "evaluate": false,
        "mangle": false
      }
    ]
  ]
}
// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "targets": {
//           "node": "current"
//         }
//       }
//     ],
//     "minify"
//   ]
// }